In [3]:
import pandas as pd
import os
import glob

os.listdir()

['Mexico_data_preprocessing.ipynb',
 'preprocessing.ipynb',
 'RSNA_data_preprocessing.ipynb',
 'test_set_rsna.ipynb']

In [4]:
os.chdir("../")

## Extracts information like actual age, estimated bone age, gender and radiologist initials from the text file.

In [3]:
import re


def calculate_total_months(duration):
    total_months = 0

    # Extract years and months from the duration string
    years = re.findall(r'(\d+)\s*y', duration, re.IGNORECASE)
    months = re.findall(r'(\d+)\s*m', duration, re.IGNORECASE)

    # Add the years and months to the total
    if years:
        total_months += int(years[0]) * 12
    if months:
        total_months += int(months[0])

    # If no years or months are found, check for a duration in months
    if not years and not months:
        months_only = re.findall(r'(\d+)\s*months?', duration, re.IGNORECASE)
        if months_only:
            total_months += int(months_only[0])

    return total_months


def check_gender(data):
    pattern = r'(?i)GENDER:\s*(M|F)'
    match = re.search(pattern, data)
    if match:
        return match.group(1).upper()
    else:
        return None


def clean_values(data):
    age = calculate_total_months(data[0])
    gender = [0 if data[1] == "MALE" else 1][0]

    # Check if the age is in the second line or third line
    if bool(re.search(r'\d', data[2])):
        bage = calculate_total_months(data[2])
        radiologist = data[3].split(":")[1].strip().upper()
    else:
        bage = calculate_total_months(data[3])
        radiologist = data[2].split(":")[1].strip().upper()

    return age, gender, bage, radiologist

# age, bage, gender, radiologist= [], [], [], []
# for dir in glob.glob("./data/Mex_sample_data/*"):
#     for file in glob.glob(dir + "/*.txt"):
#         with open(file, "r") as f:
#             data = f.readlines()
#             data = [line.strip() for line in data if line.strip()]
#
#             cleaned = clean_values(data)
#             age.append(cleaned[0])
#             gender.append(cleaned[1])
#             bage.append(cleaned[2])
#             radiologist.append(cleaned[3])
# mexico_data = pd.DataFrame(data=zip(age, gender, bage, radiologist), columns=['age', 'gender', 'bage', 'radiologist'])

In [4]:
age, bage, gender, radiologist, year_entry, id_, paths = [], [], [], [], [], [], []

In [32]:
years = [2019]
for year in years:
    for dir in glob.glob(f"data/Mexico_private_dataset/{year}/*"):
        for file in glob.glob(dir + "/*.txt"):
            with open(file, "r", encoding="utf8") as f:
                data = f.readlines()
                data = [line.strip() for line in data if line.strip()]
                id_.append(len(id_) + 1)
                dicom_file = glob.glob(dir + "/*.dcm")
                paths.append(dicom_file[0])
                cleaned = clean_values(data)
                age.append(cleaned[0])
                gender.append(cleaned[1])
                bage.append(cleaned[2])
                radiologist.append(cleaned[3])
                year_entry.append(year)

In [5]:
for year in [2023]:
    for dir in glob.glob(f"data/Mexico_private_dataset/{year}/*"):
        for file in glob.glob(dir + "/*.txt"):
            with open(file, "r", encoding="utf8") as f:
                data = f.readlines()
                data = [line.strip() for line in data if line.strip()]
                id_.append(len(id_) + 1)
                dicom_file = glob.glob(dir + "/*.dcm")
                paths.append(dicom_file[0])
                age.append(calculate_total_months(data[0]))
                if check_gender(data[1]) == "M":
                    gender.append(0)
                elif check_gender(data[1]) == "F":
                    gender.append(1)
                else:
                    gender.append(None)
                bage.append(calculate_total_months(data[2].split(":")[1]))
                radiologist.append(data[3].split(":")[1].strip().upper())
                year_entry.append(year)

In [11]:
mexico_data

,id,age,gender,boneage,radiologist,year_entry,path
0,1,84,0,72,JSA,2023,"data/Mexico_private_dataset/2023\AGAMI KALACH,..."
1,2,112,0,84,JSA,2023,"data/Mexico_private_dataset/2023\AGAMI KALACH,..."
2,3,63,1,36,JSA,2023,"data/Mexico_private_dataset/2023\AGAMI KALACH,..."
3,4,135,0,132,JSA,2023,"data/Mexico_private_dataset/2023\AGAMI KALACH,..."
4,5,154,1,144,JSA,2023,data/Mexico_private_dataset/2023\AGUILAR ALVAR...
...,...,...,...,...,...,...,...
111,112,97,1,84,JSA,2023,data/Mexico_private_dataset/2023\SAADIA DICKTE...
112,113,76,1,66,JSA,2023,data/Mexico_private_dataset/2023\SAADIA DICKTE...
113,114,138,1,144,JSA,2023,"data/Mexico_private_dataset/2023\SACAL ROMANO,..."
114,115,111,0,84,JSA,2023,data/Mexico_private_dataset/2023\SAINZ GONZALE...
115,116,97,1,94,JSA,2023,data/Mexico_private_dataset/2023\SAINZ GONZALE...

In [6]:
mexico_data = pd.DataFrame(data=zip(id_, age, gender, bage, radiologist, year_entry, paths),
                           columns=['id','age', 'gender', 'boneage', 'radiologist', 'year_entry', 'path'])

In [12]:
mexico_data.dropna(inplace=True)
mexico_data['gender'] = mexico_data.gender.astype(int)

In [15]:
mexico_data

,id,age,gender,boneage,radiologist,year_entry,path
0,1,84,0,72,JSA,2023,"data/Mexico_private_dataset/2023\AGAMI KALACH,..."
1,2,112,0,84,JSA,2023,"data/Mexico_private_dataset/2023\AGAMI KALACH,..."
2,3,63,1,36,JSA,2023,"data/Mexico_private_dataset/2023\AGAMI KALACH,..."
3,4,135,0,132,JSA,2023,"data/Mexico_private_dataset/2023\AGAMI KALACH,..."
4,5,154,1,144,JSA,2023,data/Mexico_private_dataset/2023\AGUILAR ALVAR...
...,...,...,...,...,...,...,...
111,112,97,1,84,JSA,2023,data/Mexico_private_dataset/2023\SAADIA DICKTE...
112,113,76,1,66,JSA,2023,data/Mexico_private_dataset/2023\SAADIA DICKTE...
113,114,138,1,144,JSA,2023,"data/Mexico_private_dataset/2023\SACAL ROMANO,..."
114,115,111,0,84,JSA,2023,data/Mexico_private_dataset/2023\SAINZ GONZALE...
115,116,97,1,94,JSA,2023,data/Mexico_private_dataset/2023\SAINZ GONZALE...

In [14]:
# save pandas df as csv without index
mexico_data.to_csv("./data/Mexico_private_dataset/mexico_additional_data.csv", index=False)

### Run the SAM model and continue from here

In [16]:
mexico_data

,id,age,gender,boneage,radiologist,year_entry,path
0,1,84,0,72,JSA,2023,"data/Mexico_private_dataset/2023\AGAMI KALACH,..."
1,2,112,0,84,JSA,2023,"data/Mexico_private_dataset/2023\AGAMI KALACH,..."
2,3,63,1,36,JSA,2023,"data/Mexico_private_dataset/2023\AGAMI KALACH,..."
3,4,135,0,132,JSA,2023,"data/Mexico_private_dataset/2023\AGAMI KALACH,..."
4,5,154,1,144,JSA,2023,data/Mexico_private_dataset/2023\AGUILAR ALVAR...
...,...,...,...,...,...,...,...
111,112,97,1,84,JSA,2023,data/Mexico_private_dataset/2023\SAADIA DICKTE...
112,113,76,1,66,JSA,2023,data/Mexico_private_dataset/2023\SAADIA DICKTE...
113,114,138,1,144,JSA,2023,"data/Mexico_private_dataset/2023\SACAL ROMANO,..."
114,115,111,0,84,JSA,2023,data/Mexico_private_dataset/2023\SAINZ GONZALE...
115,116,97,1,94,JSA,2023,data/Mexico_private_dataset/2023\SAINZ GONZALE...

In [17]:
mexico_data['path'] = mexico_data['id'].map(lambda x: os.path.join("data",
                                                         "Mexico_private_dataset",
                                                         'additional',
                                                         '{}.png'.format(x)))

In [18]:
mexico_data

,id,age,gender,boneage,radiologist,year_entry,path
0,1,84,0,72,JSA,2023,data\Mexico_private_dataset\additional\1.png
1,2,112,0,84,JSA,2023,data\Mexico_private_dataset\additional\2.png
2,3,63,1,36,JSA,2023,data\Mexico_private_dataset\additional\3.png
3,4,135,0,132,JSA,2023,data\Mexico_private_dataset\additional\4.png
4,5,154,1,144,JSA,2023,data\Mexico_private_dataset\additional\5.png
...,...,...,...,...,...,...,...
111,112,97,1,84,JSA,2023,data\Mexico_private_dataset\additional\112.png
112,113,76,1,66,JSA,2023,data\Mexico_private_dataset\additional\113.png
113,114,138,1,144,JSA,2023,data\Mexico_private_dataset\additional\114.png
114,115,111,0,84,JSA,2023,data\Mexico_private_dataset\additional\115.png
115,116,97,1,94,JSA,2023,data\Mexico_private_dataset\additional\116.png

In [19]:
mexico_data.gender.value_counts()

gender
1    61
0    55
Name: count, dtype: int64

In [20]:
# Checking if all the images exist
mexico_data['exists'] = mexico_data['path'].map(os.path.exists)
print(mexico_data['exists'].sum(), 'images found of', mexico_data.shape[0], 'total')

108 images found of 116 total

In [21]:
# Drop row if exist column is false does not exist
mexico_data = mexico_data[mexico_data['exists']]

In [22]:
mexico_data.to_csv("./data/Mexico_private_dataset/mexico_preprocessed_additional.csv", index=False)

In [3]:
# Train test split 5 fold on mexico_data
from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold(n_splits=3, shuffle=True, random_state=42)

In [5]:
mexico_data = pd.read_csv("./data/Mexico_private_dataset/mexico_complete_dataset.csv")

In [6]:
from sklearn.model_selection import StratifiedKFold

# Separate the features from the target variable
X = mexico_data[['age', 'gender']]
y = mexico_data['boneage']

# Create an instance of StratifiedKFold with 5 folds
skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)

# Perform the stratified split and print the indices for each fold
fold = 1
splits = {}
for train_index, test_index in skf.split(X, y):
    splits[fold] = {}
    splits[fold]['train'] = train_index
    splits[fold]['val'] = test_index
    fold += 1

D:\Installation\anaconda\envs\bone_age_estimation\lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(

In [7]:
# Save dictionary
import pickle
with open("data/Mexico_private_dataset/splits_10.pkl", "wb") as f:
    pickle.dump(splits, f)

In [8]:
splits

{1: {'train': array([  0,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
          14,  15,  16,  18,  19,  20,  21,  22,  23,  24,  26,  27,  29,
          30,  31,  32,  33,  35,  36,  37,  38,  39,  40,  41,  42,  43,
          44,  46,  47,  48,  49,  50,  51,  52,  54,  55,  56,  57,  58,
          61,  64,  65,  66,  67,  68,  69,  70,  71,  73,  74,  75,  76,
          77,  78,  79,  80,  81,  82,  83,  84,  86,  87,  88,  89,  90,
          91,  92,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
         105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 117, 118,
         119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131,
         132, 133, 134, 135, 136, 137, 138, 139, 141, 143, 144, 145, 146,
         148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160,
         161, 162, 163, 164, 165, 167, 169, 170, 171, 173, 174, 175, 176,
         177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189,
         190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202,
         203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215,
         216, 217, 218, 219, 220, 221, 223, 224, 225, 226, 227, 228, 229,
         230, 231, 232, 233, 234, 235, 237, 238, 239, 240, 241, 242, 243,
         244, 245, 246, 247, 248, 249, 250, 251, 252, 254, 255, 256, 257,
         258, 260, 261, 262, 263, 264, 266, 267, 268, 269, 270, 271, 272,
         274, 275, 277, 278, 279, 281, 282, 283, 284, 285, 286, 287, 288,
         290, 292, 293, 294, 295, 296, 298, 299, 301, 302, 303, 304, 305,
         306, 307, 308, 309, 310, 311, 312, 313, 314, 316, 317, 318, 319,
         320, 321, 322, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333,
         334, 335, 336, 337, 338, 339, 340, 341, 343, 344, 345, 347, 348,
         349, 350, 351, 354, 355, 356, 358, 359, 360, 361, 362, 363, 365,
         366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378,
         379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391,
         392, 394, 395, 396, 397, 398, 399, 400, 401, 403, 404, 405, 406,
         407, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420,
         421, 422, 423, 424, 425, 426, 428, 429, 430, 431, 432, 433, 434,
         435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447,
         448]),
  'val': array([  1,  17,  25,  28,  34,  45,  53,  59,  60,  62,  63,  72,  85,
          93, 116, 140, 142, 147, 166, 168, 172, 222, 236, 253, 259, 265,
         273, 276, 280, 289, 291, 297, 300, 315, 323, 342, 346, 352, 353,
         357, 364, 393, 402, 408, 427])},
 2: {'train': array([  0,   1,   2,   4,   5,   6,   9,  10,  11,  12,  13,  14,  15,
          16,  17,  18,  19,  20,  22,  23,  24,  25,  26,  27,  28,  29,
          30,  31,  32,  33,  34,  35,  36,  37,  39,  40,  41,  43,  44,
          45,  46,  47,  49,  51,  52,  53,  54,  55,  56,  57,  58,  59,
          60,  61,  62,  63,  64,  67,  68,  69,  70,  71,  72,  73,  74,
          75,  77,  78,  79,  80,  81,  83,  84,  85,  86,  87,  88,  89,
          90,  91,  92,  93,  95,  97,  98,  99, 100, 101, 102, 103, 104,
         105, 106, 107, 108, 109, 110, 112, 113, 114, 115, 116, 117, 118,
         119, 120, 122, 123, 124, 125, 126, 129, 130, 131, 132, 133, 135,
         136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148,
         149, 150, 151, 152, 153, 154, 155, 156, 158, 160, 161, 162, 163,
         164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176,
         177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 188, 189, 190,
         191, 192, 193, 194, 196, 198, 199, 200, 201, 202, 203, 204, 205,
         206, 207, 208, 209, 210, 211, 213, 214, 215, 216, 217, 219, 220,
         221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 234,
         235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
         248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 259, 261, 262,
         263, 264, 265, 266, 269, 270, 271, 272, 273, 274, 275, 276, 277,
         278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
         291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303,
         304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316,
         317, 318, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330,
         332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344,
         345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357,
         358, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 371, 372,
         373, 374, 375, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386,
         387, 388, 390, 392, 393, 395, 397, 398, 399, 400, 401, 402, 403,
         404, 406, 407, 408, 409, 410, 412, 413, 414, 415, 417, 418, 419,
         420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 432, 433,
         434, 435, 436, 437, 438, 439, 440, 441, 443, 444, 445, 446, 447,
         448]),
  'val': array([  3,   7,   8,  21,  38,  42,  48,  50,  65,  66,  76,  82,  94,
          96, 111, 121, 127, 128, 134, 157, 159, 187, 195, 197, 212, 218,
         233, 258, 260, 267, 268, 319, 331, 359, 370, 376, 389, 391, 394,
         396, 405, 411, 416, 431, 442])},
 3: {'train': array([  0,   1,   2,   3,   5,   7,   8,   9,  10,  11,  13,  15,  16,
          17,  19,  20,  21,  22,  23,  24,  25,  26,  27,  28,  29,  31,
          32,  33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,
          45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,
          59,  60,  61,  62,  63,  65,  66,  67,  68,  69,  70,  71,  72,
          74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,
          87,  88,  89,  91,  92,  93,  94,  95,  96,  97,  98, 100, 101,
         103, 104, 105, 106, 108, 110, 111, 112, 113, 114, 115, 116, 117,
         118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
         131, 132, 133, 134, 135, 136, 138, 139, 140, 141, 142, 143, 144,
         145, 146, 147, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160,
         161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173,
         175, 176, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188,
         189, 190, 191, 192, 193, 194, 195, 196, 197, 199, 201, 202, 203,
         204, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217,
         218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230,
         232, 233, 235, 236, 237, 238, 239, 240, 241, 243, 244, 246, 247,
         248, 249, 250, 251, 252, 253, 255, 256, 257, 258, 259, 260, 261,
         262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274,
         275, 276, 277, 279, 280, 281, 283, 284, 285, 286, 287, 288, 289,
         290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302,
         305, 306, 307, 308, 309, 311, 312, 313, 314, 315, 316, 317, 318,
         319, 320, 321, 322, 323, 324, 325, 326, 328, 329, 330, 331, 332,
         333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345,
         346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 359,
         360, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374,
         375, 376, 377, 378, 379, 380, 381, 382, 383, 385, 386, 387, 388,
         389, 390, 391, 392, 393, 394, 395, 396, 398, 399, 400, 401, 402,
         403, 404, 405, 407, 408, 409, 410, 411, 412, 413, 414, 416, 417,
         418, 419, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431,
         432, 433, 435, 436, 437, 438, 439, 441, 442, 443, 444, 445, 446,
         448]),
  'val': array([  4,   6,  12,  14,  18,  30,  58,  64,  73,  90,  99, 102, 107,
         109, 137, 148, 149, 150, 174, 177, 198, 200, 205, 231, 234, 242,
         245, 254, 278, 282, 303, 304, 310, 327, 358, 361, 362, 384, 397,
         406, 415, 420, 434, 440, 447])},
 4: {'train': array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
          13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
          26,  27,  28,  29,  30,  31,  32,  33,  34,  36,  37,  38,  39,
          40,  41,  42,  43,  44,  45,  47,  48,  49,  50,  51,  52,  53,
          54,  55,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  68,
          69,  70,  71,  72,  73,  74,  75,  76,  79,  80,  81,  82,  83,
          84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,
          98,  99, 100, 101, 102, 103, 105, 106, 107, 108, 109, 110, 111,
         112, 113, 114, 116, 117, 118, 121, 122, 123, 124, 125, 126, 127,
         128, 129, 130, 131, 132, 133, 134, 135, 137, 138, 139, 140, 142,
         143, 144, 145, 146, 147, 148, 149, 150, 152, 153, 154, 155, 156,
         157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 170,
         171, 172, 173, 174, 175, 176, 177, 179, 180, 182, 183, 184, 185,
         187, 188, 189, 190, 191, 192, 194, 195, 196, 197, 198, 199, 200,
         201, 202, 203, 205, 206, 207, 208, 209, 210, 211, 212, 213, 215,
         217, 218, 219, 220, 222, 224, 225, 226, 227, 228, 229, 231, 232,
         233, 234, 236, 237, 238, 240, 241, 242, 243, 244, 245, 246, 247,
         248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
         261, 262, 264, 265, 267, 268, 269, 270, 271, 272, 273, 274, 275,
         276, 277, 278, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289,
         290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302,
         303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 315, 316,
         317, 318, 319, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330,
         331, 332, 333, 334, 335, 336, 337, 339, 340, 341, 342, 343, 344,
         345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357,
         358, 359, 360, 361, 362, 363, 364, 366, 368, 370, 371, 372, 373,
         374, 375, 376, 377, 378, 379, 381, 382, 383, 384, 385, 386, 387,
         388, 389, 390, 391, 393, 394, 395, 396, 397, 398, 399, 400, 401,
         402, 403, 404, 405, 406, 407, 408, 410, 411, 412, 413, 414, 415,
         416, 418, 419, 420, 422, 423, 426, 427, 428, 429, 430, 431, 432,
         433, 434, 435, 436, 438, 439, 440, 441, 442, 443, 445, 446, 447,
         448]),
  'val': array([ 35,  46,  56,  67,  77,  78,  97, 104, 115, 119, 120, 136, 141,
         151, 169, 178, 181, 186, 193, 204, 214, 216, 221, 223, 230, 235,
         239, 263, 266, 279, 314, 320, 338, 365, 367, 369, 380, 392, 409,
         417, 421, 424, 425, 437, 444])},
 5: {'train': array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  12,  13,
          14,  15,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
          28,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
          42,  43,  44,  45,  46,  48,  50,  52,  53,  54,  56,  57,  58,
          59,  60,  61,  62,  63,  64,  65,  66,  67,  70,  71,  72,  73,
          74,  75,  76,  77,  78,  79,  80,  81,  82,  84,  85,  87,  88,
          90,  91,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
         104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
         117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
         130, 131, 132, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
         145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157,
         158, 159, 160, 162, 163, 164, 165, 166, 167, 168, 169, 170, 172,
         173, 174, 177, 178, 179, 180, 181, 182, 184, 185, 186, 187, 188,
         189, 190, 193, 194, 195, 196, 197, 198, 199, 200, 201, 204, 205,
         206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218,
         219, 220, 221, 222, 223, 225, 226, 227, 228, 229, 230, 231, 232,
         233, 234, 235, 236, 238, 239, 240, 241, 242, 243, 245, 246, 247,
         248, 250, 252, 253, 254, 255, 256, 258, 259, 260, 261, 262, 263,
         264, 265, 266, 267, 268, 269, 270, 272, 273, 274, 275, 276, 277,
         278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 291,
         292, 293, 294, 295, 296, 297, 298, 300, 301, 302, 303, 304, 305,
         306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318,
         319, 320, 321, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332,
         333, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 346, 347,
         349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361,
         362, 363, 364, 365, 366, 367, 369, 370, 371, 372, 373, 374, 375,
         376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 389,
         390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
         403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
         416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 427, 428, 429,
         431, 432, 433, 434, 437, 439, 440, 442, 443, 444, 445, 446, 447,
         448]),
  'val': array([ 11,  16,  29,  47,  49,  51,  55,  68,  69,  83,  86,  89,  92,
         133, 144, 161, 171, 175, 176, 183, 191, 192, 202, 203, 224, 237,
         244, 249, 251, 257, 271, 290, 299, 322, 334, 345, 348, 368, 388,
         426, 430, 435, 436, 438, 441])},
 6: {'train': array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  11,  12,  13,
          14,  15,  16,  17,  18,  19,  20,  21,  22,  24,  25,  27,  28,
          29,  30,  31,  34,  35,  37,  38,  39,  40,  41,  42,  43,  44,
          45,  46,  47,  48,  49,  50,  51,  53,  54,  55,  56,  57,  58,
          59,  60,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,
          73,  74,  76,  77,  78,  79,  80,  82,  83,  84,  85,  86,  88,
          89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101,
         102, 103, 104, 105, 106, 107, 109, 110, 111, 112, 113, 114, 115,
         116, 117, 119, 120, 121, 122, 123, 124, 125, 127, 128, 129, 131,
         132, 133, 134, 135, 136, 137, 139, 140, 141, 142, 143, 144, 145,
         147, 148, 149, 150, 151, 152, 153, 155, 156, 157, 158, 159, 160,
         161, 162, 163, 164, 165, 166, 168, 169, 170, 171, 172, 173, 174,
         175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 186, 187, 188,
         189, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202,
         203, 204, 205, 206, 207, 209, 210, 211, 212, 213, 214, 216, 217,
         218, 219, 220, 221, 222, 223, 224, 225, 226, 228, 229, 230, 231,
         232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244,
         245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 256, 257, 258,
         259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271,
         272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284,
         285, 286, 287, 288, 289, 290, 291, 292, 293, 295, 296, 297, 298,
         299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
         312, 313, 314, 315, 317, 318, 319, 320, 322, 323, 324, 325, 326,
         327, 329, 330, 331, 333, 334, 335, 337, 338, 339, 340, 342, 343,
         344, 345, 346, 347, 348, 350, 351, 352, 353, 355, 356, 357, 358,
         359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371,
         372, 373, 374, 376, 377, 378, 379, 380, 381, 383, 384, 387, 388,
         389, 390, 391, 392, 393, 394, 396, 397, 398, 399, 401, 402, 403,
         404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 415, 416, 417,
         419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431,
         432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 444, 445,
         447]),
  'val': array([ 10,  23,  26,  32,  33,  36,  52,  61,  75,  81,  87, 108, 118,
         126, 130, 138, 146, 154, 167, 185, 190, 208, 215, 227, 255, 294,
         316, 321, 328, 332, 336, 341, 349, 354, 375, 382, 385, 386, 395,
         400, 414, 418, 443, 446, 448])},
 7: {'train': array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
          13,  14,  15,  16,  17,  18,  20,  21,  22,  23,  25,  26,  28,
          29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  42,
          43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,
          56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,
          69,  70,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,
          83,  84,  85,  86,  87,  89,  90,  92,  93,  94,  95,  96,  97,
          98,  99, 100, 102, 103, 104, 105, 107, 108, 109, 111, 112, 113,
         114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126,
         127, 128, 130, 133, 134, 135, 136, 137, 138, 140, 141, 142, 144,
         145, 146, 147, 148, 149, 150, 151, 153, 154, 156, 157, 158, 159,
         160, 161, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173,
         174, 175, 176, 177, 178, 180, 181, 182, 183, 184, 185, 186, 187,
         188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 200, 201,
         202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 214, 215,
         216, 218, 220, 221, 222, 223, 224, 225, 226, 227, 228, 230, 231,
         233, 234, 235, 236, 237, 239, 241, 242, 243, 244, 245, 246, 247,
         248, 249, 250, 251, 253, 254, 255, 256, 257, 258, 259, 260, 261,
         262, 263, 265, 266, 267, 268, 270, 271, 272, 273, 274, 275, 276,
         277, 278, 279, 280, 281, 282, 283, 284, 285, 287, 288, 289, 290,
         291, 292, 293, 294, 297, 298, 299, 300, 302, 303, 304, 305, 306,
         307, 309, 310, 311, 312, 313, 314, 315, 316, 317, 319, 320, 321,
         322, 323, 324, 325, 327, 328, 329, 330, 331, 332, 333, 334, 336,
         337, 338, 339, 341, 342, 344, 345, 346, 347, 348, 349, 350, 351,
         352, 353, 354, 355, 356, 357, 358, 359, 361, 362, 364, 365, 367,
         368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380,
         381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393,
         394, 395, 396, 397, 398, 399, 400, 402, 404, 405, 406, 407, 408,
         409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421,
         422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434,
         435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447,
         448]),
  'val': array([ 19,  24,  27,  41,  71,  88,  91, 101, 106, 110, 129, 131, 132,
         139, 143, 152, 155, 162, 179, 199, 213, 217, 219, 229, 232, 238,
         240, 252, 264, 269, 286, 295, 296, 301, 308, 318, 326, 335, 340,
         343, 360, 363, 366, 401, 403])},
 8: {'train': array([  1,   2,   3,   4,   5,   6,   7,   8,  10,  11,  12,  14,  15,
          16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,  28,
          29,  30,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,  42,
          43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  55,  56,
          58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,
          71,  72,  73,  74,  75,  76,  77,  78,  79,  81,  82,  83,  84,
          85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,
          99, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
         113, 115, 116, 117, 118, 119, 120, 121, 122, 125, 126, 127, 128,
         129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141,
         142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154,
         155, 157, 158, 159, 161, 162, 163, 165, 166, 167, 168, 169, 171,
         172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184,
         185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197,
         198, 199, 200, 201, 202, 203, 204, 205, 206, 208, 209, 210, 211,
         212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224,
         225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237,
         238, 239, 240, 241, 242, 243, 244, 245, 247, 248, 249, 250, 251,
         252, 253, 254, 255, 257, 258, 259, 260, 261, 262, 263, 264, 265,
         266, 267, 268, 269, 270, 271, 273, 275, 276, 278, 279, 280, 282,
         283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295,
         296, 297, 299, 300, 301, 303, 304, 305, 306, 308, 309, 310, 312,
         314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326,
         327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 338, 340, 341,

## Mixing new private dataset

In [3]:
import pandas as pd
import numpy as np
import glob

In [26]:
# Load the new private dataset
new_private_data = pd.read_csv("./data/Mexico_private_dataset/mexico_preprocessed_additional.csv")
old_private_data = pd.read_csv("./data/Mexico_private_dataset/mexico_preprocessed_dataset.csv")

In [27]:
len(new_private_data), len(old_private_data)

(108, 341)

In [28]:
# Combine both pandas dataframes and reindex the id column

In [29]:
# Use the last id from the old private dataset
new_private_data['id'] = new_private_data['id'] + old_private_data['id'][len(old_private_data) - 1]

In [30]:
new_private_data

,id,age,gender,boneage,radiologist,year_entry,path,exists
0,346,84,0,72,JSA,2023,data\Mexico_private_dataset\additional\1.png,True
1,347,112,0,84,JSA,2023,data\Mexico_private_dataset\additional\2.png,True
2,349,135,0,132,JSA,2023,data\Mexico_private_dataset\additional\4.png,True
3,351,114,1,120,JSA,2023,data\Mexico_private_dataset\additional\6.png,True
4,352,160,1,180,JSA,2023,data\Mexico_private_dataset\additional\7.png,True
...,...,...,...,...,...,...,...,...
103,457,97,1,84,JSA,2023,data\Mexico_private_dataset\additional\112.png,True
104,458,76,1,66,JSA,2023,data\Mexico_private_dataset\additional\113.png,True
105,459,138,1,144,JSA,2023,data\Mexico_private_dataset\additional\114.png,True
106,460,111,0,84,JSA,2023,data\Mexico_private_dataset\additional\115.png,True
107,461,97,1,94,JSA,2023,data\Mexico_private_dataset\additional\116.png,True

In [31]:
# Open the images from the path column
import cv2
for row in new_private_data.iterrows():
    image = cv2.imread(row[1]['path'], cv2.IMREAD_UNCHANGED)
    cv2.imwrite(f"./data/Mexico_private_dataset/additional/{row[1]['id']}.png", image)
    # delete the old image
    os.remove(row[1]['path'])
    # Rename the path value in the path column
    new_private_data.loc[row[0], 'path'] = f"./data/Mexico_private_dataset/additional/{row[1]['id']}.png"

In [32]:
# combine both dataframe
mexico_data = pd.concat([old_private_data, new_private_data])

In [33]:
len(mexico_data)

449

In [40]:
# save pandas df as csv without index
mexico_data.to_csv("./data/Mexico_private_dataset/mexico_complete_dataset.csv", index=False)